*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    width: 100%;
    min-height: 100vh;

}

.header
{
    width: 100%;
    height: 80px;
    display: flex;
    padding: 20px;
    background-color: rgb(39, 78, 221);
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
    

}

.logo h1{
    color: white;    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    margin-left:20px;
}

.nav-links a{
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
}

.post-area {
    display: flex;
    width: 100%;
    min-height: 90vh;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    margin-top: 80px;
    
}

.video-container{
    width: 100%;
    height: 500px;
    background-color: black;
    border: 1px solid black;
    border-radius: 20px;
}

.video-container video
{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: contain;
}


.post-title h1 {
    font: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
    margin-top: 8px;

}

.author{
    display: flex;
    width: 100%;
    height: fit-content;
    padding: 10px;
    justify-content: space-between;
    border-bottom: 2px solid rgb(183, 183, 183) ;
}

.author-name{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
}

.channel{
    width: 50%;
    display: flex;
    gap: 5px;
    align-items: center;
}


.response-links{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.pfp{
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
    border: 2px solid rgb(39, 78, 221);
    object-fit: cover;
}

.pfp img{
    width: 40px;
    height: 40px;
    border-radius:50% ;
    object-fit: contain;
}

.follow{
    background-color: rgb(39, 78, 221);
    border: 3px solid rgb(8, 28, 118);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
}

.follow a{
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.description {
    font-size: 1.4rem;
    margin-top: 40px;
    padding: 20px;
    line-height: 1.4em;
    background-color: rgba(136, 136, 136, 0.127);
    display: flex;
    justify-content: space-between;
     border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.left-description{
    display: flex;
    padding: 5px;
}

.views,.time{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        margin-left: 2px;

}
.tags
{
    width: 100%;
    height: auto;
    display: flex;
    gap: 10px;

}


.tags  a{
    text-decoration: none;
    font-size: 1.2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(155, 154, 154);
    border-radius: 10px;    
}


.text-description
{
    font-size: 1.4rem;
    padding: 20px;
     border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    line-height: 1.4em;
    background-color: rgba(136, 136, 136, 0.127);
    display: flex;
}

.text-description p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(53, 53, 53);
}

