*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    width: 100%;
    min-height: 100vh;
    background-color: aliceblue;

}

.header
{
    width: 100%;
    height: 10vh;
    display: flex;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
    

}

.logo h1{
    color: white;    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4rem;
    margin-left:20px;
}

.nav-links a{
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.4rem;
}

.post-area {
    display: flex;
    width: 100%;
    min-height: 90vh;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    margin-top: 10vh;
    box-shadow: inset 2px 2px 20px rgb(0, 0, 0);

}

.video-container{
    width: 100%;
    height: 50vh;
    background-color: black;
    border: 1px solid black;
}

.video-container video
{
    width: 100%;
    height: 100%;

    object-fit: contain;
}


.post-title h1 {
    font: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
    margin-bottom: 20px;

}

.description {
    font-size: 1.4rem;
    margin-top: 40px;
    padding: 20px;
    border: 2px solid black;
    box-shadow: inset 0px 1px 10px black;
    border-radius: 20px;
    line-height: 1.4em;
}

.tags
{
    width: 100%;
    height: auto;
    display: flex;
    gap: 10px;
    margin-top: 40px;

}


.tags  a{
    text-decoration: none;
    font-size: 1.2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: inset 2px 2px 20px rgb(0, 0, 0);

}

